<div class="alert alert-success" role="alert">
  <h4 class="alert-heading">Bienvenidos a la pagina de : @Nombre !</h4>
  <p>Si puedes imaginarlo puedes programarlo!.</p>
  <hr>
  <p class="mb-0">Nunca dejes de soñar!.</p>
</div>
 
@code{
    [Parameter]
    public string? Nombre {get;set;}
}
